@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:900|Work+Sans:300");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* for tablets */
@use "navbar";
#head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: deeppink;
  padding: 10px 3%;
  /* media query for nav */
}

#head img {
  height: 80px;
  cursor: pointer;
}

#head .navbar {
  list-style-type: none;
}

#head li {
  display: inline-block;
  padding-top: 20px;
  padding-left: 50px;
}

#head a {
  color: #fff;
}

#head :hover {
  color: #ffa3a3;
  transition: color 0.3s ease-in;
  text-decoration: none;
}

@media screen and (max-width: 420px) {
  #head {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 3;
    display: block;
  }
  #head img {
    height: 130px;
    margin-left: 30%;
  }
  #head .navbar {
    /* for burger nav */
    /* end of burger nav */
    flex-direction: column;
  }
  #head .navbar ul {
    display: none;
    top: 0;
    margin-top: 0px;
    margin-bottom: 0rem;
    font-size: 2rem;
    padding-left: 2%;
  }
  #head .navbar .ul-disp {
    display: block !important;
  }
  #head .navbar #wrapper {
    display: inline-block;
    border-radius: 500px;
    /*  margin: 10px; */
    margin-left: -5%;
    position: relative;
    padding: 15px;
    cursor: pointer;
  }
  #head .navbar .circle {
    width: 100px;
    height: 100px;
    position: relative;
  }
  #head .navbar .line {
    position: absolute;
    width: 100%;
    height: 12px;
    background: #fff;
    border-radius: 10px;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
  }
  #head .navbar .top {
    top: 18%;
  }
  #head .navbar .middle {
    top: 48%;
  }
  #head .navbar .bottom {
    top: 78%;
  }
  #head .navbar .icon.close .top {
    transform: rotate(45deg);
    top: 48%;
  }
  #head .navbar .icon.close .middle, #head .navbar .icon.close .bottom {
    transform: rotate(-45deg);
    top: 48%;
    color: #fff;
  }
  #head .navbar .navbar li {
    padding-top: 0;
    display: block;
  }
}

/* for image slider */
#slideshow {
  /* media query */
}

#slideshow div {
  width: 100%;
}

#slideshow .img-slider div {
  width: 100%;
}

#slideshow .img-slider img {
  width: 100%;
  height: 525px;
}

@media screen and (max-width: 420px) {
  #slideshow .img-slider img {
    height: 400px;
  }
}

/*Services section  */
.services h1 {
  color: deeppink;
  padding-top: 40px;
}

.services .wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}

.services .card-img-top {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.services .card-body {
  text-align: center;
  box-shadow: 0px 15px 15px -8px rgba(0, 0, 0, 0.5);
}

.services h5 {
  font-size: 14px;
  text-transform: uppercase;
}

.services .card-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
}

@media (max-width: 800px) {
  .services .mx-30 {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .services .wrapper {
    padding-left: 4%;
  }
}

@media screen and (max-width: 420px) {
  .services .row {
    margin-left: 0;
  }
}

/* owner info section */
.about-us {
  /* media-query for about us */
}

.about-us img {
  margin-left: 5px;
  margin-bottom: 40px;
  float: left;
  padding: 5%;
  height: auto;
  width: 30%;
}

.about-us .owner-info {
  margin-top: 15%;
}

.about-us h1 {
  color: deeppink;
  text-align: center;
}

.about-us blockquote {
  text-align: center;
}

@media screen and (max-width: 975px) {
  .about-us .owner-info {
    margin-top: 10%;
  }
}

@media screen and (max-width: 768px) {
  .about-us img {
    padding: 1%;
    width: 24%;
  }
  .about-us .owner-info {
    margin-top: 5%;
  }
}

@media screen and (max-width: 420px) {
  .about-us img {
    float: none;
    height: 300px;
    width: 60%;
    margin-left: 20%;
  }
  .about-us blockquote {
    width: 95%;
    padding: 2%;
    margin-bottom: 50px;
  }
  .about-us .owner-info {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

/* contact section */
.contact {
  background: #8014ff;
  /* media query section */
}

.contact h1 {
  text-align: center;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}

.contact .footer-lists {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.contact h2 {
  font-size: 1.5rem;
  color: #ffffff;
}

.contact h3 {
  font-size: 1rem;
  color: #ffffff;
}

.contact .locations {
  padding-left: 3%;
  padding-right: 3%;
}

.contact a {
  color: #ffffff;
}

.contact .copyright h3 {
  font-size: 0.5rem;
  text-align: right;
  padding-right: 1%;
}

.contact .locations a:hover {
  color: deeppink;
  transition: all 0.3s ease-in-out;
}

.contact .contact-info a:hover {
  color: deeppink;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 975px) {
  .contact .footer-lists h2 {
    font-size: 1.3rem;
  }
  .contact .footer-lists h3 {
    font-size: 0.9rem;
  }
  .contact .office-hours {
    padding-left: 2%;
  }
  .contact .locations {
    padding-left: 5%;
    padding-right: 1%;
  }
  .contact .contact-info {
    padding-right: 0;
  }
}

@media screen and (max-width: 768px) {
  .contact .footer-lists h2 {
    font-size: 1.1rem;
  }
  .contact .footer-lists h3 {
    font-size: 0.7rem;
  }
  .contact .footer-lists .office-hours {
    padding-left: 1%;
  }
  .contact .footer-lists .locations {
    padding-left: 1%;
  }
  .contact .footer-lists .contact-info {
    margin-right: 1%;
  }
}

@media screen and (max-width: 420px) {
  .contact h1 {
    padding-right: 10%;
    font-size: 2rem;
  }
  .contact .footer-lists {
    display: flex;
    flex-direction: column;
    padding-left: 14%;
    padding-right: 20%;
  }
  .contact .footer-lists h2 {
    font-size: 1.3rem;
  }
  .contact .footer-lists h3 {
    font-size: 1rem;
  }
  .contact .footer-lists .office-hours {
    padding-left: 1%;
    padding-bottom: 50px;
  }
  .contact .footer-lists .locations {
    padding-left: 1%;
    padding-bottom: 50px;
  }
  .contact .footer-lists .contact-info {
    margin-right: 1%;
    padding-bottom: 50px;
  }
  .contact .footer-lists .contact-info a {
    padding-left: 11%;
  }
}
/*# sourceMappingURL=style.css.map */