@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $navColor;
    padding: 20px 5%;

    img {
        height: 60px;
        cursor: pointer;
    }
    .navbar {
        list-style-type: none;
    }
    li {
        @include horizontal-listing;
        /* display: inline-block; */
        padding: 0 60px;
    }
    a {
        @include a-prop;
    }
    :hover {
        color: #ffa3a3;
        transition: color 0.3s ease-in;
        text-decoration: none;
    }
}

/* for image slider */
#slideshow {
    div {
        width: 100%;
    }
    .img-slider{
        div {
            width: 100%;
        }
        img {
            width: 100%;
            height: 525px;
        }
    }
}

/*Services section  */
.services {
        h1 {
            color: $navColor;
            padding-top: 40px;
        }
        .wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .card-img-top {
            box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        }
        .card-body {
            text-align: center;
            box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5);
        }
        h5 {
            font-size: 14px;
            text-transform: uppercase;
        }
        .card-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
        }
        @media (max-width: 800px) {
            .mx-30{
                margin-bottom: 30px;
            }
        }
}

.about-us {
    img {
        margin-left: 5px;
        margin-bottom: 40px;
        float: left;
        padding: 5%;
        height: auto;
        width: 30%;
    }
    .owner-info {
        top: 50%;
        margin-top: 15%;
    }
    h1 {
        color: $navColor;
        text-align: center;
    }
    blockquote {
        text-align: center;
    }
    
}

/* contact section */
.contact {
    background: linear-gradient(to left, #abbaab, #ffffff);
    h1 {
        text-align: center;
        color: $navColor;
    }
}

