@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $navColor;
    padding: 20px 5%;

    img {
        height: 60px;
        cursor: pointer;
    }
    .navbar {
        list-style-type: none;
    }
    li {
        @include horizontal-listing;
        /* display: inline-block; */
        padding: 0 60px;
    }
    a {
        @include a-prop;
    }
    :hover {
        color: #ffa3a3;
        transition: color 0.3s ease-in;
        text-decoration: none;
    }
}

/* for image slider */
#slideshow {
    div {
        width: 100%;
    }
    .img-slider{
        div {
            width: 100%;
        }
        img {
            width: 100%;
            height: 525px;
        }
    }
}

.services {
    h1 {
        font-size: 50px;
    }
    .card {
        width: (100% / 3);
       
    }
}