@import "reset";
@import "variables";
@import "mixins";
@import "fonts";
@use "navbar";


#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $navColor;
    padding: 10px 3%;

    img {
        height: 80px;
        cursor: pointer;
    }
    .navbar {
        list-style-type: none;
    }
    li {
        @include horizontal-listing;
        padding-top: 20px;
        padding-left: 50px;
    }
    a {
        @include a-prop;
    }
    :hover {
        color: #ffa3a3;
        transition: color 0.3s ease-in;
        text-decoration: none;
    }
    /* media query for nav */
    @include phone {        
        .navbar {
            ul {
                margin-top: 0px;
                margin-bottom: 0rem;
                text-align: center;
                font-size: 2rem;
            }
        /* for burger nav */
        #wrapper {
           // background: #0d6fba;
            display: inline-block;
            border-radius: 500px;
            margin: 10px;
            margin-left: 20%;
            position: relative;
            padding: 50px;
            cursor: pointer;
        }
        
        .circle {
            width: 100px;
            height: 100px;
            position: relative;
        
        }
        
        .line {
            position: absolute;
            width: 100%;
            height: 12px;
            background: #fff;
            border-radius: 10px;
            transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) 0.35s;
        }
        
        .top {
            top: 18%;
        }
        
        .middle {
            top: 48%;
        }
        
        .bottom {
            top: 78%;
        }
        
        .icon.close .top {
            transform: rotate(45deg);
            top: 48%;
        }
        
        .icon.close .middle, .icon.close .bottom {
            transform: rotate(-45deg);
            top: 48%;
            color: #fff;
        }
        
        
        /* end of burger nav */
        flex-direction: column;
        .navbar {
        li {
            padding-top: 0;
            display: block;
            }
         } 
        }
    }
}

/* for image slider */
#slideshow {
    div {
        width: 100%;
    }
    .img-slider{
        div {
            width: 100%;
        }
        img {
            width: 100%;
            height: 525px;
        }
    }
    /* media query */
    @include phone {
        .img-slider img {
            height: 400px;
        }
    }
}

/*Services section  */
.services {
        h1 {
            color: $navColor;
            padding-top: 40px;
        }
        .wrapper {
            padding-top: 40px;
            padding-bottom: 40px;
        }
        .card-img-top {
            box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
        }
        .card-body {
            text-align: center;
            box-shadow: 0px 15px 15px -8px rgba(0,0,0,0.5);
        }
        h5 {
            font-size: 14px;
            text-transform: uppercase;
        }
        .card-title {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 24px;
        }
        @media (max-width: 800px) {
            .mx-30{
                margin-bottom: 30px;
            }
        }
        @include phone {
            .row {
            margin-left: 0;
            }
        }
}

/* owner info section */
.about-us {
    img {
        margin-left: 5px;
        margin-bottom: 40px;
        float: left;
        padding: 5%;
        height: auto;
        width: 30%;
    }
    .owner-info {
        margin-top: 15%;
    }
    h1 {
        color: $navColor;
        text-align: center;
    }
    blockquote {
        text-align: center;
    }
    /* media-query for about us */
    @include large-tablet {
        .owner-info {
            margin-top: 10%;
        }
    }

    @include tablet {
            img {
                padding: 1%;
                width: 24%;
            }
            .owner-info {
                margin-top: 5%;
            }
        }
    @include phone {
        img {
            float: none;
            height: 300px;
            width: 60%;
            margin-left: 20%;
        }
        blockquote {
            width: 95%;
            padding: 2%;
            margin-bottom: 50px;

        }
        .owner-info {
            margin-top: 0;
            margin-bottom: 10px;
           
        }
    }    
    
    }




/* contact section */
.contact {
    background: #8014ff;
    h1 {
        text-align: center;
        color: #ffffff;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer-lists {
        display: flex;
        justify-content: center;
        align-items: baseline;
    }
    h2 {
        font-size: 1.5rem;
        color: #ffffff;
    }
    h3 {
        font-size: 1rem;
        color: #ffffff;
    }
    .locations {
        padding-left: 3%;
        padding-right: 3%;
    }
    a {
        color: #ffffff;
    }
    .copyright h3 {
        font-size: 0.5rem;
        text-align: right;
        padding-right: 1%;
    }
    .locations {
        a:hover {
            color: $navColor;
            transition: all 0.3s ease-in-out;
        }
    }
    .contact-info {
        a:hover {
            color: $navColor;
            transition: all 0.3s ease-in-out;
        }
    }
    /* media query section */
    @include large-tablet {
        .footer-lists {
            h2 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 0.9rem;
            }
        }
        .office-hours {
           padding-left: 2%;
        }
        .locations {
            padding-left: 5%;
            padding-right: 1%;
        }
        .contact-info {
            padding-right: 0;
        }
    }

    @include tablet {
        .footer-lists {
            h2 {
                font-size: 1.1rem;
            }
            h3 {
                font-size: 0.7rem;
            }
        .office-hours {
        padding-left: 1%;
        }
        .locations {
            padding-left: 1%;
        }
        .contact-info {
            margin-right: 1%;
        }
    }

    }

    @include phone {
        h1 {
            padding-right: 10%;
            font-size: 2rem;
        }
        .footer-lists {
            display: flex;
            flex-direction: column;
            padding-left: 14%;
            padding-right: 20%;
            h2 {
                font-size: 1.3rem;
            }
            h3 {
                font-size: 1rem;
            }
        .office-hours {
        padding-left: 1%;
        padding-bottom: 50px;
        }
        .locations {
            padding-left: 1%;
            padding-bottom: 50px;
        }
        .contact-info {
            margin-right: 1%;
            padding-bottom: 50px;
            a {
                padding-left: 11%;
            }
        }
    }
    }
}